html
    head 
        title Natjecanja
        style
            include ../../public/css/competition.css
    body
        a(href='/')
            button.links Povratak na početnu stranicu
        div
        a(href='/generate')
            button.links Stvori novo natjecanje
        br
        each [key, value] of map
            br
            div.nameOfCompetiton= key.name
                table.competitionTable
                    tr
                        th Ime natjecatelja
                        th Pobjeda
                        if key.typeofcompetition == 0
                            th Neriješene
                        th Izgubljene
                        th Bodovi
                    each n in value
                        tr
                        td= n.name
                        td= n.victory
                        if key.typeofcompetition == 0
                            td= n.tied
                        td= n.losses
                        td= n.points
                if authID.includes(value[0].fk_id)
                    div.update
                        a(href="/updateCompetition?param="+value[0].fk_id)
                            button(type="button" id=value[0].fk_id name=value[0].fk_id value=value[0].fk_id) Uredi
                else
                    div.update
                        button(type="button" id="" name="" value="" disabled) Uredi